---
const {data} = Astro.props;

const fullName = data.name.first + ' ' + data.name.last;
---

<div class='card'>
  <h5>{fullName}</h5>
  <p>{data.email}</p>
</div>

<style>
  .card {
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .4);
    padding: 12px 18px;
    margin-bottom: 10px;
  }

  .card p {
    margin: 6px 0;
    padding: 0;
  }
</style>